body{
    box-sizing: border-box;
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}
/* 
#root{
    display: flex;
    justify-content: center;
}
.main-content{
    width: 100%;
    display: block;
    margin: 0px auto; 
}*/